# =========================
# IntelliJ
.gradle
/build/
gradle.properties
# =========================

# =========================
# IntelliJ
.idea
*.iml
*.iws
*.ipr
out
# =========================

# =========================
# Eclipse
.settings/
.classpath
.project
# =========================